{% extends "base.html" %}

{% load static bootstrap4 icons %}

{% block meta_title %}Справка и методология{% endblock meta_title %}

{% block content %}

    <h4>{% icon 'question-circle' %} Справка и методология</h4>
    <ul>
        <li><a href="#app">Приложение "Мой турист"</a></li>
        <li><a href="#data">Источники данных</a></li>
     </ul>

    <h5 id="app">Приложение "Мой турист"</h5>
    <p>
        Приложение позволяет провести оценку объема потенциальной целевой аудитории и автоматически разбить ее на группы (сегменты),
        в рамках которых потребители имеют схожие или аналогичные запросы. Сегментация произведена по местоположению, полу, возрастным группам, семейному положению, наличию детей, интересам и доходу.
        Целевые группы могут использоваться для дальнейшей проработки аватаров клиентов под конкретное место отдыха или мероприятие. А затем,
        для создания и настройки рекламы для онлайн- и оффлайн-продвижения.
    </p>

    <p>Приложение может помочь как продвижению существующих услуг, так и выводу на рынок новых, исходя из местонахождения, объема и интересов потенциальной аудитории, вывести туристические объекты региона на федеральный уровень.</p>

    <p>Карта цифрового присутствия объектов туризма позволяет определить уровень осведомленности и заинтересованности потенциальной аудитории, а следовательно, помогает создавать содержание рекламных сообщений согласно модели иерархии воздействия.
        Если уровень цифрового присутствия низкий, уместными будут материалы для ознакомления с объектом рекламы, если средний — материалы, которые вызывают чувства и формируют позитивное отношение к нему,
        если уровень высокий — необходимы напоминания, побуждение к повторному посещению, предложение новых услуг, то есть стимулирование и сохранение намерений.
        Приложение помогает переводить потенциальные целевые группы с одного уровня в другой и отслеживать этот процесс.
    </p>


    <h5 id="data">Источники данных</h5>
    <b>Тепловая карта цифрового присутствия</b>
    <p>
        Тепловая карта цифрового присутствия курортов в регионах построена при помощи сервиса <a href="http://wordstat.yandex.ru">Яндекс.Подбор слов</a>.
        Расчеты основаны на региональной популярности ключевых фраз, связанных с важнейшими курортами и достопримечательностями. Региональная популярность (affinity index) — это доля, которую занимает регион в показах по данному слову, деленная на долю всех показов результатов поиска, пришедшихся на этот регион.
        Тепловая карта курортных мест может быть построена для любого региона. Список ключевых фраз задается в разделе <a href="{% url 'map_conf' %}">Настройки</a>.
    </p>

    <b>Целевая аудитория</b>
    <p>
        Целевые группы потенциальных клиентов определяются на основе данных социальной сети ВКонтакте при помощи <a href="https://vk.com/dev/callback_api">API ВКонтакте</a>.
        Географические и демографические признаки берутся из анкетных данных пользователей сети. Данные по интересам автоматически собираются и анализируются на стороне ВКонтакте на основе взаимодействия пользователей с контентом и рекламой сети,
        посещением тематических сообществ и внешних сайтов.
    </p>

    <p>Распределения уровня заработной платы по регионам получены из данных <b>МТС</b>. Отсутствующие данные заменяются усредненными значениями для половозрастной группы.</p>

    <b>Численность населения</b>
    <p>
        Источником данных по численности населения регионов является <b>Росстат</b>.
    </p>

{% endblock content %}
